In [2]:
import pandas as pd
data_path = './datasets/From_Legnet_git_data/WTC11.tsv'
df = pd.read_csv(data_path, sep='\t')

In [3]:
df = df[df.rev == 0]
df = df.drop(columns=['rev'])
df

,seq_id,seq,mean_value,fold
0,seq10002_R,AGGACCGGATCAACTAGCAATCCCTGGGAAAATCTGTGCTTTGCAG...,-1.306000,10
1,seq10004_F,AGGACCGGATCAACTTAGCTCAACACAAATCCATCACTGAAAGCAG...,-0.017000,10
2,seq10004_R,AGGACCGGATCAACTCATTGTTTCCATAGGGAATAAGTCTTTTTCA...,-0.017000,10
3,seq10005_F,AGGACCGGATCAACTGACCCTAAATCAGTATGGGGAAAGGTCCCCA...,-1.635000,7
4,seq10005_R,AGGACCGGATCAACTAAAGGGACTTTCCGCATTCTAAGTTCTTAAG...,-1.635000,7
...,...,...,...,...
46180,seq77105_shuffled_0,AGGACCGGATCAACTAGCAAGCCATCAGAGGATAGCTGGCTGAGAG...,-1.284667,7
46181,seq77431_shuffled_0,AGGACCGGATCAACTCCAGCCATCCACCCCACTGGCACTGTACAAG...,-1.445333,5
46182,seq78540_shuffled_0,AGGACCGGATCAACTTGGCACAGATGGCTCAGACACCGGTTGCCAT...,-1.537667,9
46183,seq79319_shuffled_0,AGGACCGGATCAACTCTTTCTTTCTTGTGGTGCCACCAGAACCAAC...,-0.871333,8
46184,seq9358_shuffled_0,AGGACCGGATCAACTATCAACTTGGTCCTTGCGAGCCAGACATGCA...,-0.597000,1

In [4]:
!pwd

/home/nios/5Term

In [5]:
df.to_csv('./datasets/VikramDataset/WTC11.tsv', sep="\t", index = False)