In [17]:
import pandas as pd
data_path = './datasets/From_Legnet_git_data/K562.tsv'
df = pd.read_csv(data_path, sep='\t')

In [18]:
df = df[df.rev == 0]
df = df.drop(columns=['rev'])
df

,seq_id,seq,mean_value,fold
0,peak10,AGGACCGGATCAACTTGTCGCCTTAATCCAAGCCTACGTTTTTACA...,-0.490,8
1,peak10_Reversed:,AGGACCGGATCAACTAGTATGAGGAGGGTTGTGGAGTGGAAGTGAA...,-0.131,8
2,peak1000,AGGACCGGATCAACTCATCTACATAGAAGTCGCCCTGTCCGTGATG...,0.628,6
3,peak1000_Reversed:,AGGACCGGATCAACTTTGCTCCTTAACACAGGCTAAGGACCAGCTT...,1.263,6
4,peak10000,AGGACCGGATCAACTATGGCAGCAGCAGCCCGTCTAGGGTGGCCAC...,-0.131,3
...,...,...,...,...
196659,ENSG00000282988_Reversed:,AGGACCGGATCAACTAGGGAACTGGAGTCCGGCCCGCGAAGAGCGG...,-0.627,8
196660,ENSG00000283013,AGGACCGGATCAACTCGGAAGGCTCGGGAGGCGGCGCCATGTGAGT...,-0.068,10
196661,ENSG00000283013_Reversed:,AGGACCGGATCAACTCCCTGGATAAATACGTAATTAAGTCCCGGCG...,0.198,10
196662,ENSG00000283088,AGGACCGGATCAACTTGCACGGCGGCGTGTGCGTTTCCTAGTTGTC...,-0.583,5
196663,ENSG00000283088_Reversed:,AGGACCGGATCAACTCCCACTGCAGAAAGACCGGGGACGGGACCAG...,-0.186,5

In [32]:
!pwd

/home/nios/5Term

In [9]:
df.to_csv('./datasets/Vikram_splited/K562.tsv', sep="\t", index = False)