In [27]:
import pandas as pd
data_path = './datasets/From_Legnet_git_data/HepG2.tsv'
df = pd.read_csv(data_path, sep='\t')

In [28]:
df = df[df.rev == 0]
df = df.drop(columns=['rev'])
df

,seq_id,seq,mean_value,fold
0,DNasePeakNoPromoter1,AGGACCGGATCAACTCCTAACCCTAACCCTAACCCTAACCCTAACC...,-0.675,2
1,DNasePeakNoPromoter1_Reversed:,AGGACCGGATCAACTCGTTCTCCTCAGCACAGACCCGGAGAGCACC...,-0.274,2
2,DNasePeakNoPromoter10,AGGACCGGATCAACTTGTTTCTTAGGAAAGGCGGCCAACCCAGGGT...,0.908,10
3,DNasePeakNoPromoter10_Reversed:,AGGACCGGATCAACTGGTTAGAGCTCAAAGGTCACTCCGATGACAC...,0.276,10
4,DNasePeakNoPromoter100,AGGACCGGATCAACTATTACTCACACAAGACACACATTGTCTGCCG...,1.295,9
...,...,...,...,...
122921,ENSG00000282608_Reversed:,AGGACCGGATCAACTTTTTCTGGTGGGGTGATCTCTTGGAAACCCT...,-0.906,8
122922,ENSG00000282872,AGGACCGGATCAACTAGGCTGGTGCATCTTTAATGAAGTCACTGGA...,-0.712,7
122923,ENSG00000282872_Reversed:,AGGACCGGATCAACTTCCCCACTCAGGGTCTGTAGCACTTTGGACT...,-0.996,7
122924,ENSG00000282881,AGGACCGGATCAACTCTCTTGCTGTGTGCCCACAGGACCAGCGTGA...,-0.737,1
122925,ENSG00000282881_Reversed:,AGGACCGGATCAACTGGCGCGTTCCGCGGGCGCCGGGACCGGTGGC...,-1.006,1

In [29]:
val = df[df.fold == 9]
val = val.drop(columns=['fold'])
val = val.reset_index(drop = True)
val

,seq_id,seq,mean_value
0,DNasePeakNoPromoter100,AGGACCGGATCAACTATTACTCACACAAGACACACATTGTCTGCCG...,1.295
1,DNasePeakNoPromoter100_Reversed:,AGGACCGGATCAACTCAGACCTGGGTAATTATTAACCCGGCTTCTG...,0.630
2,DNasePeakNoPromoter10006,AGGACCGGATCAACTAACAAACAAAGCAACTATTTGGCAAGAAGAG...,1.795
3,DNasePeakNoPromoter10006_Reversed:,AGGACCGGATCAACTCAATCTCAAAGAGAAAACAGGAAGGACACAA...,1.975
4,DNasePeakNoPromoter10008,AGGACCGGATCAACTGACAATCTAAGTCTGGGCTTGGCAGAGACAA...,-0.750
...,...,...,...
12287,ENSG00000278919_Reversed:,AGGACCGGATCAACTGATACAGGACACAGCAGGAAACAGTGATCAA...,0.636
12288,ENSG00000279395,AGGACCGGATCAACTCACAAAAAGTTTTATTCTTTGCTGATAAGAT...,-1.069
12289,ENSG00000279395_Reversed:,AGGACCGGATCAACTAGTCCAAGGAGAATGAACTCAGCCACAGTGG...,-1.515
12290,ENSG00000280316,AGGACCGGATCAACTCTTTTCACCCTTTTAGCCACATCTGCAAAGC...,-1.132
12291,ENSG00000280316_Reversed:,AGGACCGGATCAACTTTCAGGTTCCGTGGATCCTGCCATCTGTTAA...,-1.188

In [30]:
test = df[df.fold == 10]
test = test.drop(columns=['fold'])
test = test.reset_index(drop = True)
test

,seq_id,seq,mean_value
0,DNasePeakNoPromoter10,AGGACCGGATCAACTTGTTTCTTAGGAAAGGCGGCCAACCCAGGGT...,0.908
1,DNasePeakNoPromoter10_Reversed:,AGGACCGGATCAACTGGTTAGAGCTCAAAGGTCACTCCGATGACAC...,0.276
2,DNasePeakNoPromoter10029,AGGACCGGATCAACTCTGGTTATTTCCTGAGATGGATTCTTTAATT...,0.134
3,DNasePeakNoPromoter10029_Reversed:,AGGACCGGATCAACTTCTCAGGCATGTCCTAAGAACCAGTTTCCAG...,-0.481
4,DNasePeakNoPromoter1003,AGGACCGGATCAACTCATACATGAATAGATGGTTTTTGTAATAAAG...,-0.451
...,...,...,...
12293,ENSG00000279588_Reversed:,AGGACCGGATCAACTTCAATAGCAGAAGAGAGAAAACAATGGAAGA...,-0.098
12294,ENSG00000279644,AGGACCGGATCAACTCAGGTATGCTTTTGATGGTAGGGAAGGGATG...,-0.926
12295,ENSG00000279644_Reversed:,AGGACCGGATCAACTACCTAAGTGAAGAAGCTATCAAGGTGATCGC...,-0.803
12296,ENSG00000280165,AGGACCGGATCAACTTAATTGAAGAGCCAGTGACTATTGGCTGAAG...,-0.053
12297,ENSG00000280165_Reversed:,AGGACCGGATCAACTCATATCCAGGCGCGGGTGCCAGGTCGCCGGG...,1.072

In [31]:
train = df[df.fold <= 8]
train = train.drop(columns=['fold'])
train = train.reset_index(drop = True)
train

,seq_id,seq,mean_value
0,DNasePeakNoPromoter1,AGGACCGGATCAACTCCTAACCCTAACCCTAACCCTAACCCTAACC...,-0.675
1,DNasePeakNoPromoter1_Reversed:,AGGACCGGATCAACTCGTTCTCCTCAGCACAGACCCGGAGAGCACC...,-0.274
2,DNasePeakNoPromoter1000,AGGACCGGATCAACTGGCTGCTTCCCTCCCCTGAGGCCTTCTGAAA...,0.628
3,DNasePeakNoPromoter1000_Reversed:,AGGACCGGATCAACTCACTGAGCAAGTCTTGCTGTTGAGACATCTG...,0.644
4,DNasePeakNoPromoter10000,AGGACCGGATCAACTCTTGTCACAGGCCCAGGTAGCCAAAGCTTAT...,-0.954
...,...,...,...
98331,ENSG00000282608_Reversed:,AGGACCGGATCAACTTTTTCTGGTGGGGTGATCTCTTGGAAACCCT...,-0.906
98332,ENSG00000282872,AGGACCGGATCAACTAGGCTGGTGCATCTTTAATGAAGTCACTGGA...,-0.712
98333,ENSG00000282872_Reversed:,AGGACCGGATCAACTTCCCCACTCAGGGTCTGTAGCACTTTGGACT...,-0.996
98334,ENSG00000282881,AGGACCGGATCAACTCTCTTGCTGTGTGCCCACAGGACCAGCGTGA...,-0.737
98335,ENSG00000282881_Reversed:,AGGACCGGATCAACTGGCGCGTTCCGCGGGCGCCGGGACCGGTGGC...,-1.006

In [32]:
!pwd

/home/nios/5Term

In [33]:
test.to_csv('./datasets/Vikram_splited/test_HepG2.tsv', sep="\t", index = False) 
val.to_csv('./datasets/Vikram_splited/val_HepG2.tsv', sep="\t", index = False) 
train.to_csv('./datasets/Vikram_splited/train_HepG2.tsv', sep="\t", index = False)